@use "../../../../scss/utils" as *;
@use "../../../../scss/vars" as *;

.button {
	height: 100%;
	aspect-ratio: 1;
	border-radius: 20px;
	@include ad-value("margin-left", 4, 3, 0, 1600, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	transition: 0.6s $ease-info-button;
	background: $gray2;

	animation: buttonPreload 0.8s $ease-content-mini forwards;
	scale: 0;
	opacity: 0;
}

@keyframes buttonPreload {
	100% {
		scale: 1;
		opacity: 1;
	}
}
.buttonActive {
	background: $green;
}
.icon {
	position: absolute;
	width: 54%;
	aspect-ratio: 1;
	transition: 0.6s $ease;
	pointer-events: none;
}

.item {
	pointer-events: none;
	transition: 0.6s $ease;
	display: block;
	position: absolute;

	width: 42%;
	box-shadow: 0px 0px 0px 1.5px #fff;
	aspect-ratio: 1;
}
.circle {
	border-radius: 20px;
}
.border {
	border-radius: 30%;
}

.iconShow {
	opacity: 0;
	scale: 0.5;
	rotate: -90deg;
}
