@use "../../../../../scss/utils" as *;
@use "../../../../../scss/vars" as *;

.container {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-auto-flow: column;
	padding: 0 10%;
	@include ad-value("gap", 8, 5, 0, 1600, 1);
}
.item {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	width: 100%;
	aspect-ratio: 1;
	height: 100%;
}
