$gray1: #f5f4f6;
$gray2: #333333;
$black1: #010001;
$blue1: #0760fb;
$blue2: #f0f4ff;
$green: #00dc54;

//ease splash info
$ease-info-mini: cubic-bezier(0.6, 0, 0.52, 2);
$ease-info-button: cubic-bezier(0.52, -0.5, 0.45, 1.53);

//
$ease: cubic-bezier(0.75, -1.27, 0.3, 2.33);

//ease content
$ease-content: cubic-bezier(0.5, 0, 0.4, 1.4);
$ease-content-mini: cubic-bezier(0.75, -1.27, 0.3, 1.55);
